body {
    background:rgb(27, 36, 17);
}

@font-face {
    font-family: "CustomFont";
    src: url("../fonts/PressStart2P-Regular.ttf");
}

#snakeScoreRuta {
    height:50px;
    width: 300px;
    
    color:white;
    font-size: 30px;
    font-family: CustomFont;

    position:absolute;
    margin-top:-50px;

}
#textIntro {
    height:250px;
    width: 1000px;

    font-size: 64px;
    text-align: center;
    color:white;
    font-family: CustomFont;

    margin:0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    z-index: 1;
}

.mainRuta {
    height: 700px;
    width:700px;
    background:black;

    margin:0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}


#miniRuta {
    position:absolute;
    height:25px;
    width:25px;
    background:rgb(238, 50, 191);
    transition: margin 110ms;
}

#newDiv {
    height: 25px;
    width: 25px;
    background: red;
    position:absolute;
    top:0;
    left:0;
}